*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
crash_log.txt
app/build/
build/
*.class
*.log

target/
bin/
*.lst
*.class
.agent/

# Kubernetes Secrets
kubernetes/livebus-secrets.yaml
gitlab-variables.env
gitlab-key.json
kubectl
.kotlin/
*.kotlin/

