apiVersion: v1
kind: Secret
metadata:
  name: livebus-db-secrets
type: Opaque
stringData:
  database-name: ${DB_NAME}
  database-user: ${DB_USER}
  database-password: ${DB_PASSWORD}
  rabbitmq-user: ${RABBITMQ_USER}
  rabbitmq-password: ${RABBITMQ_PASSWORD}
